.pulse {
  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
