:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root.dark {
  --bg-1st: #0d1117;
  --fg-1st: #eee;
  --fg-muted: rgba(255, 255, 255, 0.5);

  color-scheme: light dark;
  color: var(--fg-1st);
  background-color: var(--bg-1st);
}

:root.light {
  color-scheme: dark light;
  color: black;
  background-color: #fafafa;
}

.fg-1st {
  color: var(--fg-1st);
}
.fg-muted {
  color: var(--fg-muted);
}
