.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 164px 16px;
  max-width: 620px;
  margin: 0 auto;

  &-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 8px;

    p {
      line-height: 1.8;
    }
  }

  &-cta {
    padding: 56px 0;
  }
}
