select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: currentColor;

  // Stack above custom arrow
  z-index: 1;

  // Remove dropdown arrow in IE10 & IE11
  // @link https://www.filamentgroup.com/lab/select-css.html
  &::-ms-expand {
    display: none;
  }

  // Remove focus outline, will add on alternate element
  outline: none !important;
}

select:focus + .focus {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: inherit;
}

.select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 100%;

  border-radius: 4px;
  padding: 12px 16px;

  font-size: 1em;
  font-size-adjust: 0.3;
  cursor: pointer;

  select,
  &::after {
    grid-area: select;
  }

  // Optional styles
  // remove for transparency
  background-color: rgba(255, 255, 255, 0.1);

  // Custom arrow
  &::after {
    content: '';
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: currentColor;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
}

.select option {
  background: var(--bg-1st);
  color: #ccc;
}
