.title {
  display: grid;
}

.title {
  span {
    --j: calc(1 - var(--i));
    --sgn: calc(2 * var(--i) - 1);
    grid-area: 1/ 1;
    place-self: center;
    translate: calc(var(--sgn) * 4px) calc(var(--sgn) * -3px);
    color: hsl(0, 0%, 100%, 0.001);
    font-size: clamp(1.5em, 15vmin, 4em);
    --mask: linear-gradient(
      8deg,
      hsla(0, 0%, 0%, var(--j)) calc(50% - 1px),
      hsla(0, 0%, 0%, var(--i)) calc(50% + 1px)
    );

    &[aria-hidden] {
      pointer-events: none;

      &::after {
        background: linear-gradient(
          8deg,
          #fff 32%,
          #aaa calc(50% - 1px),
          var(--bg-1st, black),
          #fff calc(50% + 1px)
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-mask: var(--mask);
        mask: var(--mask);
        content: var(--text);
      }
    }
  }

  &-small {
    span {
      font-size: clamp(0.8em, 8vmin, 1.2em);
    }
  }
}
